## IMPORTING NECESSARY FILES

In [29]:
from sklearn.datasets import load_diabetes
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
import random

### READING THE DATASET

In [2]:
X,Y = load_diabetes(return_X_y=True)
#HERE x HAVE THE COLUMN OF ALL THE FEATURES 
#Y HAVE THE ACTUAL OUTPUT VALUE

In [3]:
#FOR VISUALIZATION OF THE MATRIX 
df1=pd.DataFrame(X)
df2=pd.DataFrame(Y)

In [4]:
df1

,0,1,2,3,4,5,6,7,8,9
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064

SPLITTING TEST TRAIN DATA

In [5]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=2)

### USING PREDEFINRD REGRESSION MODEL THAT USES OLS (ORDINARY LEAST SQUARE )

In [6]:
reg=LinearRegression()
#REG IS THE OBJECT

In [7]:
reg.fit(X_train,Y_train)
#CALLING THE FIT METHOD

LinearRegression()

In [8]:
coeff=pd.DataFrame(reg.coef_)
intercept=reg.intercept_
#CALCULATING INTERCEPT AND COEF

In [9]:
coeff

            0
0   -9.160885
1 -205.462260
2  516.684624
3  340.627341
4 -895.543609
5  561.214533
6  153.884786
7  126.734316
8  861.121400
9   52.419828

In [10]:
intercept

151.88334520854633

In [11]:
Y_Predict=reg.predict(X_test)
Y_Predict=pd.DataFrame(Y_Predict)
#CALLING THE PREDICT METHOD

In [12]:
Y_Predict

             0
0   154.123507
1   204.817216
2   124.929880
3   106.093396
4   258.530357
..         ...
84  208.268166
85  143.796291
86  291.284381
87  206.326013
88   94.228010

[89 rows x 1 columns]

## CALUCULATING THE EVALUATION PARAMETER

In [13]:
R2=r2_score(Y_test,Y_Predict)

In [14]:
R2

0.4399387660024645

## SCRATCH MODEL BUILD UP

### DEFINING OWN CLASS

In [148]:
class Scratch_MiniReg():
    
    def __init__(self,LearningRate,epochs,BatchSize):
        self.lr=LearningRate
        self.epochs=epochs
        self.bs=BatchSize
        self.intercept=None
        self.coeff=None
        self.constant = -2/self.bs
        
    def fit(self,X_train,Y_train):
        self.coeff=np.ones(X_train.shape[1])
        self.intercept=0
        
        for i in range(self.epochs):
            for j in range(int(X_train.shape[0]/self.bs)):
                idx= random.sample(range(0,X_train.shape[0]), self.bs)        #idx will be a list             

                #CALCULATING Y PREDICTED
                Y_hat = np.dot(X_train[idx],self.coeff) + self.intercept      #np for indexig can also take a list

                #CALCULATING SLOPE DERIVATIVES 
                slope_intercept = -2 * np.mean((Y_train[idx]-Y_hat))           
                coeff_slope = (np.dot(np.transpose(X_train[idx]),Y_train[idx]-Y_hat)) * -2
                #coeff_slope = -2 * (np.dot(X_train[idx],Y_train[idx]-Y_hat)) 
                #print(coeff_slope)

                #CALCULATING INTERCEPT AND SLOPE
                self.intercept = self.intercept - (self.lr*slope_intercept)
                self.coeff = self.coeff - (self.lr * coeff_slope)
                       
    def scratch_coeff(self):        
        print("Coeffiecent: ",self.coeff)
    
    def scratch_intercept(self):        
        print("Intercept: ",self.intercept)
        
    def predict(self,X_test):
        return np.dot(X_test,self.coeff) + self.intercept

### CHECKING OUTPUTS

In [149]:
fr=Scratch_MiniReg(0.01,50,30)
#MAKING AN OBJECT FR

In [150]:
fr.fit(X_train,Y_train)
#CALLING FIT METHOD

In [151]:
fr.scratch_coeff()
a=fr.scratch_intercept()
#CALLING METHOD FOOR COEFF AND INTERCEPT

Coeffiecent:  [  57.01971131  -59.97070485  332.27169516  247.06659923   20.50806963
  -24.29832099 -171.29300246  128.26814855  308.56063699  136.23625431]
Intercept:  153.50266650450743

In [152]:
Y_cal=fr.predict(X_test)

In [153]:
Y_cal

array([155.53333476, 191.37023495, 142.25398766, 111.61460603,
       244.02059243, 235.64959203, 109.91529483, 117.08361746,
        94.91945368, 185.65636596, 163.00656379, 174.45059464,
       185.80920586, 152.62642864, 251.61916539,  94.70798256,
       185.35531471, 141.39679406, 142.52748824, 141.90170726,
       132.93573128, 191.27115097, 168.71384106, 179.39768051,
       128.49201387, 220.4334133 , 195.99525781, 123.71041081,
        65.45270593, 241.68223354, 235.42538121, 121.96983752,
        77.58928692, 112.92069074, 200.93891217, 167.30221025,
       168.95604514, 197.25238742, 117.37727753, 234.33152941,
       137.13394592, 129.54479556, 185.26453857, 187.86272337,
       171.15247073, 147.70308531, 175.39757825, 276.87239383,
       120.70331987, 190.84152754, 236.6993295 , 130.76704665,
       144.87101306, 153.651472  , 190.67221286, 117.01879599,
       158.99387782,  89.5170619 , 160.77404206, 143.94011067,
       165.53633424, 172.66127842, 113.18403978, 204.66612699,
       159.38368665, 156.84810801, 152.24050721, 188.45026114,
       124.4692403 , 146.3274399 , 200.95397841, 187.10985755,
       122.17385343, 152.77848296, 142.90483102, 116.10359984,
        89.3318523 ,  91.70222228, 172.30417116,  92.81902006,
       101.74629367, 112.3946933 , 164.88722648, 257.14244599,
       200.79427622, 140.64182081, 248.73075291, 184.79493612,
       117.21465859])

## CALCULATING PARAMETERS

In [154]:
R2_scratch=r2_score(Y_test,Y_cal)

In [155]:
R2_scratch

0.4291914480450483