In [122]:
from sklearn.datasets import load_diabetes

import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

In [123]:
X,Y = load_diabetes(return_X_y=True)

In [206]:
X[0]

array([ 0.03807591,  0.05068012,  0.06169621,  0.02187235, -0.0442235 ,
       -0.03482076, -0.04340085, -0.00259226,  0.01990842, -0.01764613])

In [124]:
df1=pd.DataFrame(X)
df2=pd.DataFrame(Y)

In [207]:
df1

,0,1,2,3,4,5,6,7,8,9
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064

In [208]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=2)

In [209]:
reg=LinearRegression()

In [210]:
reg.fit(X_train,Y_train)

LinearRegression()

In [211]:
coeff=pd.DataFrame(reg.coef_)

In [212]:
coeff

            0
0   -9.160885
1 -205.462260
2  516.684624
3  340.627341
4 -895.543609
5  561.214533
6  153.884786
7  126.734316
8  861.121400
9   52.419828

In [215]:
intercept=reg.intercept_

In [216]:
intercept

151.88334520854633

In [217]:
Y_Predict=reg.predict(X_test)
Y_Predict=pd.DataFrame(Y_Predict)

In [218]:
Y_Predict

             0
0   154.123507
1   204.817216
2   124.929880
3   106.093396
4   258.530357
..         ...
84  208.268166
85  143.796291
86  291.284381
87  206.326013
88   94.228010

[89 rows x 1 columns]

In [133]:
R2=r2_score(Y_test,Y_Predict)

In [134]:
R2

0.4399387660024645

In [ ]:
class Scratch_Reg():
    
    def __init__(self,LearningRate,epochs):
        self.lr=LearningRate
        self.epochs=epochs
        self.constant=-2/(X_train.shape[0])
        pass
    def fit(self,X_train,Y_Train):
        self.coeff=np.ones(X_train.shape[1])
        for i in range(1000):
            Y_predict=np.dot(X_train,coeff)+intercept
            slope_intercept=-2*(np.mean(Y_train-Y_predict))
            intercept=intercept- lr*slope_intercept
            coeff_slope=(np.dot(np.transpose(X_train),Y_train-Y_predict))*constant
            coeff=coeff - lr*coeff_slope
        pass
    def predict(self,X_test):

In [287]:
lr=0.5

In [264]:
coeff=np.ones(X_train.shape[1])

In [271]:
Y_predict=np.dot(X_train,coeff)+intercept

In [266]:
slope_intercept=-2*(np.mean(Y_train-Y_predict))

In [267]:
intercept=intercept- lr*slope_intercept

In [268]:
constant=-2/(X_train.shape[0])

In [269]:
coeff_slope=(np.dot(np.transpose(X_train),Y_predict))*constant

In [270]:
coeff=coeff+ lr*coeff_slope

In [290]:
constant=-2/(X_train.shape[0])
coeff=np.ones(X_train.shape[1])
for i in range(1000):
    Y_predict=np.dot(X_train,coeff)+intercept
    slope_intercept=-2*(np.mean(Y_train-Y_predict))
    intercept=intercept- lr*slope_intercept
    coeff_slope=(np.dot(np.transpose(X_train),Y_train-Y_predict))*constant
    coeff=coeff - lr*coeff_slope

In [291]:
coeff

array([  14.43118853, -173.79279706,  490.99775567,  324.07755225,
        -39.2282728 , -116.16374767, -194.09282705,  102.8670491 ,
        452.48602532,   97.63481341])

In [289]:

        for i in range(self.epochs):
            # update all the coef and the intercept
            y_hat = np.dot(X_train,self.coef_) + self.intercept_
            #print("Shape of y_hat",y_hat.shape)
            intercept_der = -2 * np.mean(y_train - y_hat)
            self.intercept_ = self.intercept_ - (self.lr * intercept_der)
            
            coef_der = -2 * np.dot((y_train - y_hat),X_train)/X_train.shape[0]
            self.coef_ = self.coef_ - (self.lr * coef_der)
        
        print(self.intercept_,self.coef_)

array([-133730.7335723 ,  -96631.47157719, -167789.47411057,
       -148666.500888  , -185416.59741707, -189660.80266516,
        149011.46803596, -224055.12706562, -205636.02804875,
       -172248.69335428])