IMPORTING NECESSARY FILES

In [3]:
from sklearn.datasets import load_diabetes
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

READING THE DATASET

In [4]:
X,Y = load_diabetes(return_X_y=True)
#HERE x HAVE THE COLUMN OF ALL THE FEATURES 
#Y HAVE THE ACTUAL OUTPUT VALUE

In [5]:
#FOR VISUALIZATION OF THE MATRIX 
df1=pd.DataFrame(X)
df2=pd.DataFrame(Y)

In [6]:
df1

,0,1,2,3,4,5,6,7,8,9
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064

SPLITTING TEST TRAIN DATA

In [7]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=2)

USING PREDEFINRD REGRESSION MODEL THAT USES OLS (ORDINARY LEAST SQUARE )

In [8]:
reg=LinearRegression()
#REG IS THE OBJECT

In [9]:
reg.fit(X_train,Y_train)
#CALLING THE FIT METHOD

LinearRegression()

In [10]:
coeff=pd.DataFrame(reg.coef_)
intercept=reg.intercept_
#CALCULATING INTERCEPT AND COEF

In [11]:
coeff

            0
0   -9.160885
1 -205.462260
2  516.684624
3  340.627341
4 -895.543609
5  561.214533
6  153.884786
7  126.734316
8  861.121400
9   52.419828

In [12]:
intercept

151.88334520854633

In [13]:
Y_Predict=reg.predict(X_test)
Y_Predict=pd.DataFrame(Y_Predict)
#CALLING THE PREDICT METHOD

In [14]:
Y_Predict

             0
0   154.123507
1   204.817216
2   124.929880
3   106.093396
4   258.530357
..         ...
84  208.268166
85  143.796291
86  291.284381
87  206.326013
88   94.228010

[89 rows x 1 columns]

CALUCULATING THE EVALUATION PARAMETER

In [15]:
R2=r2_score(Y_test,Y_Predict)

In [16]:
R2

0.4399387660024645

SCRATCH MODEL BUILD UP

DEFINING OWN CLASS

In [35]:
X_train.shape

(353, 10)

In [36]:
coeff=np.ones(X_train.shape[1])

In [38]:
coeff.shape

(10,)

In [48]:
X_train[42].shape

(10,)

In [76]:
X_train[42].shape

(10,)

In [50]:
np.dot(X_train[42],coeff)

0.09764317480354642

In [121]:
class Scratch_StochasticReg():
    
    def __init__(self,LearningRate,epochs):
        self.lr=LearningRate
        self.epochs=epochs
        self.constant = -2/(X_train.shape[0])
        self.intercept=None
        self.coeff=None
        
    def fit(self,X_train,Y_train):
        self.coeff=np.ones(X_train.shape[1])
        self.intercept=0

        for i in range(self.epochs):
            for j in range(X_train.shape[0]):
                idx=np.random.randint(0,X_train.shape[0])                     

                #CALCULATING Y PREDICTED
                Y_hat = np.dot(X_train[idx],self.coeff) + self.intercept

                #CALCULATING SLOPE DERIVATIVES 
                slope_intercept = -2 * (Y_train[idx]-Y_hat)           
                #coeff_slope = -2 * (np.dot(np.transpose(X_train[idx]),Y_train[idx]-Y_hat)) * self.constant
                coeff_slope = -2 * (np.dot(Y_train[idx]-Y_hat,X_train[idx])) 
                #print(coeff_slope)

                #CALCULATING INTERCEPT AND SLOPE
                self.intercept = self.intercept - (self.lr*slope_intercept)
                self.coeff = self.coeff - (self.lr * coeff_slope)
            
    def scratch_coeff(self):        
        print("Coeffiecent: ",self.coeff)
    
    def scratch_intercept(self):        
        print("Intercept: ",self.intercept)
        
    def predict(self,X_test):
        return np.dot(X_test,self.coeff) + self.intercept

CHECKING OUTPUTS

In [122]:
fr=Scratch_StochasticReg(0.01,50)
#MAKING AN OBJECT FR

In [123]:
fr.fit(X_train,Y_train)
#CALLING FIT METHOD

In [124]:
fr.scratch_coeff()
fr.scratch_intercept()
#CALLING METHOD FOOR COEFF AND INTERCEPT

Coeffiecent:  [  57.11331409  -63.83226784  351.01229035  251.4394913    19.68348815
  -23.48722444 -174.21805985  133.39951226  317.26079507  118.33567668]
Intercept:  154.75414122770786

In [125]:
Y_cal=fr.predict(X_test)

In [126]:
Y_cal

array([156.40321305, 194.52727471, 142.84518288, 111.06638909,
       246.49973088, 239.57288404, 109.16475131, 116.66356408,
        95.53877505, 188.14889137, 162.72430949, 176.02954431,
       187.72856828, 153.53837526, 255.96572128,  95.09875436,
       188.5829543 , 141.27033919, 142.3252462 , 142.08952793,
       134.83573233, 192.97339067, 170.91996544, 181.23582363,
       128.98805079, 221.50283001, 197.46612966, 124.01985483,
        67.0267568 , 244.02561094, 238.96896111, 122.39608229,
        78.17986173, 114.34009211, 201.60747391, 169.25488474,
       170.14232256, 199.36707751, 118.37702197, 234.49588446,
       138.55645542, 130.24211792, 188.8096465 , 189.33934583,
       173.6047603 , 149.48168469, 176.58423612, 280.06936949,
       121.35661867, 192.92877416, 237.51477919, 133.35463104,
       146.52413748, 153.38202999, 192.39494684, 117.54851522,
       160.12094064,  88.67987184, 160.99491817, 146.70258285,
       167.3533207 , 175.29395947, 114.04088536, 207.99039624,
       160.21133392, 157.83677983, 153.22965073, 191.12324699,
       124.05840813, 146.42280594, 204.67524502, 189.23235376,
       123.67467708, 153.06207619, 142.85432987, 117.65119411,
        88.87514708,  93.2803743 , 173.59008804,  93.2325271 ,
       103.67115691, 113.42787129, 166.95643765, 261.14550693,
       201.01603621, 142.49879716, 252.65311707, 187.74821414,
       118.23032533])

CALCULATING PARAMETERS

In [127]:
R2_scratch=r2_score(Y_test,Y_cal)

In [128]:
R2_scratch

0.43091967254312