In [18]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
from sklearn.linear_model import LinearRegression
from sklearn.datasets import load_diabetes
import numpy as np

In [11]:
data = load_diabetes()
df = pd.DataFrame(data.data, columns=data.feature_names)
df.insert(loc=0,column = 'col1',value = 1)

In [13]:
df.shape

(442, 11)

In [14]:
X=df.iloc[:,:]

In [15]:
Y=data.target

In [34]:
type(X)

pandas.core.frame.DataFrame

In [16]:
X_train,X_test,Y_train,Y_test=train_test_split(X, Y, test_size=0.2,random_state=2)

In [ ]:
class ScratchMultipleRegreession:
    
    def __init__(self):    
        self.coef=0
        self.intercept=0
        
    def train(self,X,Y):
        num,den=0,0
        for xi,yj in zip(X,Y):
           #print(xi,yj)
            num = num + ((xi-X.mean()) * (yj-Y.mean()))
            den = den + ((xi-X.mean())**2)
        self.m = (num/den)
        self.b = Y .mean()-(self.m*X.mean())  
        print("m =",self.m,"b =",self.b)

    def test(self,X):
        for xi in X:
            yj = self.b + (self.m*xi)
            #print(yj,"=",self.b,"+",self.m,"*",xi)
            print(xi,yj)
            
    def userInput(self,X):
        yj = self.b + (self.m*X)
        #print(yj,"=",self.b,"+",self.m,"*",xi)
        print("C.G.P.A =",X)
        print("Expected Package =",yj)

In [22]:
X

,col1,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,1,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,1,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,1,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,1,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641
...,...,...,...,...,...,...,...,...,...,...,...
437,1,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,1,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485
439,1,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491
440,1,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930
441,1,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064

In [28]:
res=np.linalg.inv(np.transpose(X_train)@X_train)
res1=res@np.transpose(X_train)

In [34]:
coeff=pd.DataFrame(res1@Y_train)

In [38]:
print(X_test.shape)
print(coeff.shape)

(89, 11)
(11, 1)

In [42]:
Y_pred=np.dot(X_test,coeff)

In [43]:
Y_pred

array([[154.1235067 ],
       [204.81721599],
       [124.92988001],
       [106.09339576],
       [258.53035681],
       [256.32953702],
       [118.75258786],
       [119.52147402],
       [101.50717468],
       [190.54137158],
       [141.70360267],
       [172.51631204],
       [174.34089304],
       [134.81184017],
       [294.13950798],
       [ 94.11403289],
       [211.97052873],
       [156.49984762],
       [134.20709632],
       [119.62534726],
       [148.88045343],
       [165.00378118],
       [151.09977307],
       [176.03719872],
       [133.27651748],
       [221.29531227],
       [197.17482787],
       [ 96.15923158],
       [ 50.26531577],
       [230.48342249],
       [242.06266394],
       [114.1153262 ],
       [ 67.0785352 ],
       [ 94.53179042],
       [201.21593262],
       [167.05306138],
       [159.87838519],
       [192.78601513],
       [114.49291816],
       [233.4825497 ],
       [140.82309666],
       [121.06814332],
       [192.27431013],
       [191.13157307],
       [179.1698153 ],
       [148.35140027],
       [163.47610288],
       [276.81203359],
       [100.17813072],
       [164.11265163],
       [255.81074398],
       [136.94979051],
       [152.37507828],
       [107.92662528],
       [194.21661635],
       [ 77.35015426],
       [118.50951725],
       [ 68.38527563],
       [154.29094022],
       [162.48905632],
       [168.36590928],
       [156.8764705 ],
       [ 97.13958436],
       [238.17121803],
       [145.46093854],
       [117.65678691],
       [168.88768692],
       [198.38893625],
       [118.24408332],
       [124.64831033],
       [223.17842907],
       [200.62634508],
       [129.54591274],
       [158.1553552 ],
       [154.33593871],
       [114.47109854],
       [ 70.4524892 ],
       [ 76.39237963],
       [172.41319558],
       [ 80.56189628],
       [ 80.27309695],
       [ 89.46135201],
       [186.21265361],
       [275.46607679],
       [208.26816596],
       [143.7962915 ],
       [291.28438095],
       [206.32601303],
       [ 94.22801028]])