IMPORTING NECESSARY FILES

In [1]:
from sklearn.datasets import load_diabetes
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

READING THE DATASET

In [2]:
X,Y = load_diabetes(return_X_y=True)
#HERE x HAVE THE COLUMN OF ALL THE FEATURES 
#Y HAVE THE ACTUAL OUTPUT VALUE

In [3]:
#FOR VISUALIZATION OF THE MATRIX 
df1=pd.DataFrame(X)
df2=pd.DataFrame(Y)

In [4]:
df1

,0,1,2,3,4,5,6,7,8,9
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064

SPLITTING TEST TRAIN DATA

In [5]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=2)

USING PREDEFINRD REGRESSION MODEL THAT USES OLS (ORDINARY LEAST SQUARE )

In [6]:
reg=LinearRegression()
#REG IS THE OBJECT

In [7]:
reg.fit(X_train,Y_train)
#CALLING THE FIT METHOD

LinearRegression()

In [8]:
coeff=pd.DataFrame(reg.coef_)
intercept=reg.intercept_
#CALCULATING INTERCEPT AND COEF

In [9]:
coeff

            0
0   -9.160885
1 -205.462260
2  516.684624
3  340.627341
4 -895.543609
5  561.214533
6  153.884786
7  126.734316
8  861.121400
9   52.419828

In [10]:
intercept

151.88334520854633

In [11]:
Y_Predict=reg.predict(X_test)
Y_Predict=pd.DataFrame(Y_Predict)
#CALLING THE PREDICT METHOD

In [12]:
Y_Predict

             0
0   154.123507
1   204.817216
2   124.929880
3   106.093396
4   258.530357
..         ...
84  208.268166
85  143.796291
86  291.284381
87  206.326013
88   94.228010

[89 rows x 1 columns]

CALUCULATING THE EVALUATION PARAMETER

In [13]:
R2=r2_score(Y_test,Y_Predict)

In [14]:
R2

0.4399387660024645

SCRATCH MODEL BUILD UP

DEFINING OWN CLASS

In [133]:
class Scratch_Reg():
    
    def __init__(self,LearningRate,epochs):
        self.lr=LearningRate
        self.epochs=epochs
        self.constant = -2/(X_train.shape[0])
        self.intercept=None
        self.coeff=None
        
    def fit(self,X_train,Y_train):
        self.coeff=np.ones(X_train.shape[1])
        self.intercept=0

        for i in range(self.epochs):

            #CALCULATING Y PREDICTED
            Y_hat = np.dot(X_train,self.coeff) + self.intercept
            
            #CALCULATING SLOPE DERIVATIVES 
            slope_intercept = -2 * (np.mean(Y_train-Y_hat))           
            coeff_slope = (np.dot(np.transpose(X_train),Y_train-Y_hat)) * self.constant
            
            #CALCULATING INTERCEPT AND SLOPE
            self.intercept = self.intercept - (self.lr*slope_intercept)
            self.coeff = self.coeff - (self.lr * coeff_slope)
            
    def scratch_coeff(self):        
        print("Coeffiecent: ",self.coeff)
    
    def scratch_intercept(self):        
        print("Intercept: ",self.intercept)
        
    def predict(self,X_test):
        return np.dot(X_test,self.coeff) + self.intercept

CHECKING OUTPUTS

In [149]:
fr=Scratch_Reg(0.1,5000)
#MAKING AN OBJECT FR

In [150]:
fr.fit(X_train,Y_train)
#CALLING FIT METHOD

In [151]:
fr.scratch_coeff()
fr.scratch_intercept()
#CALLING METHOD FOOR COEFF AND INTERCEPT

Coeffiecent:  [  14.41663246 -173.65529432  491.46361982  323.87649203  -39.29485873
 -115.95033434 -194.03043239  103.39857067  451.56795571   97.58761463]
Intercept:  152.01361467809588

In [152]:
Y_cal=fr.predict(X_test)

In [153]:
Y_cal

array([152.26606286, 198.95852768, 127.66317649, 104.59949334,
       265.21763433, 252.08563415, 112.76236037, 115.72222334,
        96.37398937, 187.64834449, 144.95688857, 172.11023558,
       178.82009029, 136.52448162, 292.13367874,  87.25841511,
       202.17521214, 149.10699028, 132.31073448, 128.71218668,
       148.37807279, 171.82303715, 150.94627119, 174.47749422,
       127.76203269, 221.82107832, 199.9669859 , 101.5572506 ,
        54.86454501, 237.62228237, 244.27731253, 112.92408964,
        68.1262872 ,  96.01485237, 204.32913989, 164.00106926,
       160.95479577, 191.9072847 , 113.33713687, 238.45750762,
       141.39725867, 120.46043032, 188.12586849, 186.46784619,
       174.98143364, 143.24902445, 168.8125292 , 299.17021777,
       105.41536308, 169.53372869, 254.36715707, 142.5932992 ,
       151.71013731, 122.72464451, 191.52761259,  94.29116722,
       129.05823837,  75.96625966, 157.91640953, 156.35809808,
       163.20384543, 160.9394177 , 102.30353279, 227.74968705,
       146.39405681, 130.1059568 , 161.02557243, 192.83201336,
       122.94783749, 126.87218119, 217.79085474, 199.19561744,
       123.41924016, 154.18728776, 146.26524766, 112.40194819,
        80.42795823,  77.96903927, 169.33008752,  81.11337228,
        97.26144997,  97.98726655, 179.30754117, 275.57483332,
       206.2051622 , 146.76152421, 282.54426553, 202.32766535,
        98.44087933])

CALCULATING PARAMETERS

In [154]:
R2_scratch=r2_score(Y_test,Y_cal)

In [155]:
R2_scratch

0.4534551683429666